/* body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: white;
    width: 300px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', sans-serif;
    color: #111;
}

p {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #222;
} */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 20px;
}

h1 {
    color: #444;
}

#controls {
    margin-bottom: 20px;
}

#controls select, #controls input, #controls button {
    margin-right: 10px;
    padding: 8px;
}

#content h2 {
    color: #0056b3;
}

#content p {
    margin-left: 10px;
    color: #666;
}
